{{define "nav"}}
<nav id="site-navigation" class="site-navigation" aria-label="Clickable Menu Demonstration">
	<ul class="main-menu clicky-menu no-js">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			{{if .IsAuthenticated}}
			<a href="/registry/create">Add New Data registery</a>
			{{end}}
		</li>
		<li>
			{{if not .IsAuthenticated}}
			<a href="/user/signup">
				Signup Account
				<svg aria-hidden="true" width="16" height="16">
					<use xlink:href="#arrow" />
				</svg>
			</a>
			{{end}}
		</li>
		<li>
			{{if not .IsAuthenticated}}
			<a href="/user/login">
				Login Account
				<svg aria-hidden="true" width="16" height="16">
					<use xlink:href="#arrow" />
				</svg>
			</a>
			{{end}}
		</li>
		<li>
			{{if .IsAuthenticated}} 
			<form action="/user/logout" method="POST">
				<button type="submit">Logout</button>
			  </form>
			{{end}} 
			
		</li>
		<li>
			<a href="/about">
				About
				<svg aria-hidden="true" width="16" height="16">
					<use xlink:href="#arrow" />
				</svg>
			</a>
			<ul>
				<li><a href="#">Mission</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</li>
	</ul>
</nav>

{{end}}